#result{
    float:left;
}
.card{
    margin: 1.4rem;
}
*{
    margin: 0;
}
.navbox{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}
.notnav{
    height: 8vh;
    width: 95%;
    border: 1px solid silver;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.logo{
    width: max-content;
    height: 8vh;
    display: flex;
    /* background-color: black; */
    align-items: center;
    margin-left: 3vw;
}
.logo p{
    font-family: "Comfortaa", sans-serif;
    font-size: xx-large;
    margin-bottom: 0;
}
.anc{
    text-decoration: none;
    color: black;
}
.box2{
    width: 100%;
    display: flex;
    justify-content: end;
    height: min-content;
    align-items: center;
}
.dropdown{
    width: min-content;
}
.img{
    height: 40px;
    object-fit: cover;
}
.anchorbox{
    display: none;
}
.end{
    display: none;
}
/* navbar ends */


.footer{
    height: 45vh;
    width: 100%;
    /* background-color: pink; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    /* border-top: 1px solid black; */
    margin-top: 5vh;
}
.sections{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* background-color: red; */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.section1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
}
.section2{
    width: 35%;
    height: 100%;
    /* display: grid; */
    /* padding-left: 5%;
    padding-top: 20%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.section2 a , .section3 a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.section3{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.tito{
    font-family: "Comfortaa", sans-serif;
    font-size: xx-large;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wasted{
        /* background-color: red; */
        height: 70vh;
    }
.notnav{
    width: 97%;
    justify-content: space-between;
}
.box2{
    display: none;
}
.anchorbox{
    display: flex;
    height: 11vh;
    width: 70%;
    /* background-color: gray; */
    align-items: center;
    justify-content: space-between;
}
.end{
    display: flex;
    width: 15%;
    height: 11vh;
    /* background-color: red; */
    justify-content: end;
    width: max-content;
}
.abox{
    /* border: 1px solid silver; */
    height: 35%;
    width: max-content;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    display: flex;

}
.abox a{
    height: min-content;
    display: flex;
    /* justify-content: center; */
    align-self: center;
    text-decoration: none;
    color: black;
    font-family: "Comfortaa", system-ui;
    font-weight: 600;
}

#onboard{
    background-color: silver;
}
.searchbox{
    display: none;
}

.footer{
    padding-top: 0;
    /* overflow: hidden; */
}
.sections{
    height: 35vh;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .notnav{
        height: 11vh;
        width: 98%;
    }
    .logo{
        height: 11vh;
        margin-left: 1.5vw;
    }
    .footer{
        padding-top: 0;
    }
    .sections{
        height: 45vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .notnav{
        height: 9vh;
    }
.anchorbox{
    width: 60%;
    /* background-color: black; */
}
.abox{
    height: 40%;
    padding: 0 15px 0 15px;
}
.footer{
    padding-top: 0;
}
.sections{
    height: 45vh;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .notnav{
        height: 11.5vh;
    }
.anchorbox{
    width:46%;
}
.abox{
    height: 50%;
}
.end{
    width: 15%;
    overflow: hidden;
}
.searchbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: max-content;
}
.shit{
    border: 1px solid silver;
    height: 6vh;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.searchtag{
    border: 0;
    padding-left: 10px;
    outline: 0;
    width: 100%;
}
.searchicon{
    height: 20px;
    margin-left: 0.5vw;
    margin-right: 0.7vw;
}
.footer{
    margin-top: 5vh;
    padding-top: 0;
}
.sections{
    height: 50vh;
}
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #DBE2EF;
    border:1px solid #0766AD;
    border-radius: 5px;
    color: #112D4E;
    width: 31%;
    /* line-height: 100px; */
    text-align: center;
    margin: 1vw;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }
  #parentDiv{
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    display:flex;
    flex-wrap: wrap;
    width: 97%;
  }
  .btn{
    border: 1px solid #f40000;
    background-color: rgb(209, 9, 9);
  }