*{
    margin: 0;
}
.navbox{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}
.notnav{
    height: 8vh;
    width: 95%;
    border: 1px solid silver;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
    /* background-color: transparent; */
}
.logo{
    width: max-content;
    height: 8vh;
    display: flex;
    /* background-color: black; */
    align-items: center;
    margin-left: 3vw;
}
.logo p{
    font-family: "Comfortaa", sans-serif;
    font-size: xx-large;
    margin-bottom: 0;
}
.anc{
    text-decoration: none;
    color: black;
}
.box2{
    width: 100%;
    display: flex;
    justify-content: end;
    height: min-content;
    align-items: center;
}
.dropdown{
    width: min-content;
}
.img{
    height: 40px;
    object-fit: cover;
}
.anchorbox{
    display: none;
}
.end{
    display: none;
}
/* navbar ends */
/* main */
.wasted{
    height: 50vh;
    width: 100%;
    /* background-color: gray; */
    /* margin-top: 4vh; */
    position: relative;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
}
.bluebox{
    display: block;
    background-color: #007eed;
    height: 35vh;
    width: 35%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    animation: wow 1s ease;
    z-index: 0;
    border-radius: 15px;
}
@keyframes wow{
    0%{
        opacity: 0;
        border-radius: 0;
    }
    100%{
        opacity: 1;
    }
}
.blackbox{
    height: 35vh;
    width: 17%;
    background-color: 	#522dae;
    margin-left: 25%;
    position: absolute;
    z-index: 1;
    /* border-radius: 15px; */
    animation: what 1.5s cubic-bezier(0.42, 0, 0, 1.18);
}
.blackbox2{
    height: 35vh;
    width: 17%;
    background-color: #f40000;
    margin-left: 55%;
    position: absolute;
    z-index: 1;
    /* border-radius: 5px; */
    animation: whate 1.5s cubic-bezier(0.42, 0, 0, 1.18);
}
@keyframes what{
    0%{
        opacity: 0;
        margin-left: 0%;
    }
    100%{
        opacity: 1;
    }
}
@keyframes whate{
    0%{
        opacity: 0;
        margin-left: 100%;
    }
    100%{
        opacity: 1;
    }
}
.gedi{
    height: 50%;
    width: 100%;
    /* background-color:red; */
    position: absolute;
    z-index: 3;
    background-image: url(what.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 70%;
    /* overflow: hidden; */
    animation: gedi 2.3s cubic-bezier(0.42, 0, 0, 1.18);
}
@keyframes gedi{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
    }
}
.FINAL{
    height: 40%;
    width: 90%;
    position: absolute;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    animation: ff 3.5s cubic-bezier(0.42, 0, 0.92, 0.4);
}
@keyframes ff{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.wheel{
    height: 50%;
    width: 40%;
    background-image: url(wheel_processed.jpeg);
    position: absolute;
    z-index: 4;
    background-size: contain;
    top: 15%;
    right: 0;
    background-size: 145%;
    background-repeat: no-repeat;
    animation: while 5s ease;
    opacity: 0.9;
}
@keyframes while{
    0%{
        opacity: 0;
        background-size: 135%;
    }
    100%{
        opacity: 0.9;
    }
}
.test{
    height: 8vh;
    width: 15vw;
    /* background-color: pink; */
    display: flex;
    transition: width 0.5s cubic-bezier(1, 0.33, 0.37, 1.16);
    position: fixed;
    top: 70%;
    left: 2%;
    z-index: 999;
    overflow: hidden;
    border: 1px solid black;

}
.test2{
    height: 8vh;
    width: 15vw;
    /* background-color: pink; */
    display: flex;
    transition: width 0.5s cubic-bezier(1, 0.33, 0.37, 1.16);
    position: fixed;
    top: 79%;
    left: 2%;
    z-index: 999;
    overflow: hidden;  
    border: 1px solid black;  
}
.test3{
    height: 8vh;
    width: 15vw;
    /* background-color: pink; */
    display: flex;
    transition: width 0.5s cubic-bezier(1, 0.33, 0.37, 1.16);
    position: fixed;
    top: 88%;
    left: 2%;
    z-index: 999;
    overflow: hidden;
    border: 1px solid black;  
}
.imaged{
    width: 15vw;
    height: 8vh;
    background-color: white;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
.at{
    width: 60vw;
    position: absolute;
    height: 8vh;
    background-color: #522daed3;
    z-index: 0;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.at a{
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-size: larger;
    font-weight: bold;
}

.test:hover  .test2:hover , .test3:hover{
    width: 75vw;
}

.imm{
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.main{
    /* display: none; */
    height: 30vh;
    width: 100%;
    background-color: pink;
    /* margin-top: 3vh; */
    background-image: url(https://static3.toyotabharat.com/images/showroom/fortuner/fortuner-mmc/style-to-inspire-bg.jpg);
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Chitkara_Punjab_Entrance_Gate.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    overflow: hidden;
}
.fortunerbox{
    height: 100%;
    width: 100%;
}
.fortuner{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    position: relative;
    z-index: 1;
}
.randomtext{
    height: 37vh;
    width: 100%;
    overflow: hidden;
    /* border-top: 1px solid black; */
}
.st{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    /* margin-top: 1vh; */
}
.sthead{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 400;
}
.threebox{
    height: 75%;
    width: 100%;
    display: flex;
    /* background-color: red; */

}
.hi{
    width: 100%;
}
.boxe2 , .boxe3{
    display: none;
}
.wow{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.ok{
    height: 10vh;
    width: 80vw;
    position: absolute;
    z-index: 10;
    /* top: 0; */
    left: 1%;
    /* background-color: black; */
    /* overflow: hidden; */
}
.cata{
    position: absolute;
    z-index: 12 ;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    margin-top: 2vh;
}
.cata a{
    color: black;
    text-decoration: none;
}

.footer{
    height: 45vh;
    width: 100%;
    /* background-color: pink; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    /* border-top: 1px solid black; */
    margin-top: 5vh;
}
.sections{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* background-color: red; */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.section1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
}
.section2{
    width: 35%;
    height: 100%;
    /* display: grid; */
    /* padding-left: 5%;
    padding-top: 20%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.section2 a , .section3 a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.section3{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.tito{
    font-family: "Comfortaa", sans-serif;
    font-size: xx-large;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wasted{
        /* background-color: red; */
        height: 70vh;
    }
.notnav{
    width: 97%;
    justify-content: space-between;
}
.box2{
    display: none;
}
.anchorbox{
    display: flex;
    height: 11vh;
    width: 70%;
    /* background-color: gray; */
    align-items: center;
    justify-content: space-between;
}
.end{
    display: flex;
    width: 15%;
    height: 11vh;
    /* background-color: red; */
    justify-content: end;
    width: max-content;
}
.abox{
    /* border: 1px solid silver; */
    height: 35%;
    width: max-content;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    display: flex;

}
.abox a{
    height: min-content;
    display: flex;
    /* justify-content: center; */
    align-self: center;
    text-decoration: none;
    color: black;
    font-family: "Comfortaa", system-ui;
    font-weight: 600;
}

#onboard{
    background-color: silver;
}
.searchbox{
    display: none;
}

.wheel{
    background-size: 140%;
    height: 70vh;
    top: 0;
    right: -10%;
}
@keyframes while{
    0%{
        background-size: 150%;
        opacity: 0;
    }

}
.blackbox{
    height: 55vh;
}
.bluebox{
    height: 55vh;
}
.blackbox2{
    height: 55vh;
}
.test , .test2 , .test3{
    width: 12vw;
}
.imaged{
    width: 12vw;
}
.at{
    margin-left: 12vw;
    width: 40vw;
}
.test:hover{
    width: 52vw;
}
.test2:hover{
    width: 52vw;
}
.test3:hover{
    width: 52vw;
}
.randomtext{
    height: 65vh;
    /* display: none; */
}
.main{
    height:54vh;
}

.footer{
    padding-top: 0;
    /* overflow: hidden; */
}
.sections{
    height: 35vh;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wasted{
        height: 60vh;
        margin-top: 2vh;
        /* background-color: black; */
    }
    .gedi{
        background-size: 120%;
    }
    .bluebox{
        height: 54vh;
    }
    .blackbox{
        height: 54vh;
    }
    .blackbox2{
        height: 54vh;
    }
    .gedi{
        height: 60%;
        /* z-index: 5; */
    }
    .FINAL{
        font-size: 55px;
    }
.notnav{
    height: 11vh;
    width: 98%;
}
.logo{
    height: 11vh;
    margin-left: 1.5vw;
}
.wheel{
    height: 60vh;
    background-size: 90%;
    top: 10%;
    right: -20%;
}
.test , .test2 , .test3{
    width: 6vw;
}
.imaged{
    width: 6vw;
    /* background-color: red; */
}
.at{
    margin-left: 6vw;
    width: 35vw;
}
.test:hover , .test2:hover , .test3:hover{
    width: 40vw;
}
.randomtext{
    /* display: none; */
    height: 77vh;
}
.main{
    height: 70vh;
    /* display: none; */
}
.footer{
    padding-top: 0;
}
.sections{
    height: 45vh;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.randomtext{
    display: block;
}
    .notnav{
        height: 9vh;
    }
.anchorbox{
    width: 60%;
    /* background-color: black; */
}
.abox{
    height: 40%;
    padding: 0 15px 0 15px;
}
.wasted{
    height: 70vh;
    /* background-color: black; */
}
.blackbox{
    height: 65vh;
}
.blackbox2{
    height: 65vh;
}
.bluebox{
    height: 65vh;
}
.gedi{
    background-size: 125%;
    height: 60%;
}
.wheel{
    background-size: 100%;
    height: 70vh;
    margin: 0;
    top: 2%;
    right: -20%;
}
.FINAL{
    font-size: 72px;
}
.at{
    width: 28vw;
}
.test:hover , .test2:hover , .test3:hover{
    width: 34vw;
}
.boxe1{
    width: 50%;
}
.boxe2{
    display: block;
    width: 50%;
    height: 100%;
    
}
.main{
    height: 90vh;
}
.footer{
    padding-top: 0;
}
.sections{
    height: 45vh;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .notnav{
        height: 11.5vh;
    }
.anchorbox{
    width:46%;
}
.abox{
    height: 50%;
}
.end{
    width: 15%;
    overflow: hidden;
}
.searchbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: max-content;
}
.shit{
    border: 1px solid silver;
    height: 6vh;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.searchtag{
    border: 0;
    padding-left: 10px;
    outline: 0;
    width: 100%;
}
.searchicon{
    height: 20px;
    margin-left: 0.5vw;
    margin-right: 0.7vw;
}
.wasted{
    /* background-color: black; */
    height: 70vh;
    margin-top: 2.5vw;
    /* justify-content: center; */
}
.gedi{
    height: 68%;
    background-size: contain;
    width: 60%;
    /* margin-left: 2vw; */
    /* margin-right: 5vw; */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 10vw;
    /* margin-left: -20%; */
    animation: gedi 2.3s cubic-bezier(0.42, 0, 0, 1.18);
}
.blackbox{
    height: 65vh;
    width: 8%;
    margin-left: 36vw;
}
.bluebox{
    height: 65vh;
    width: 15%;
}
.blackbox2{
    height: 65vh;
    width: 8%;
    margin-left: 52vw;
}
.wheel{
    height: 77vh;
    background-size: 75%;
    right: -8%;
    top: 7%;
    /* display: none; */
}
.FINAL{
    font-size: 50px;
    /* display: none; */
}
@keyframes while{
    0%{
        background-size: 70%;
        opacity: 0;
        right: -20%;
        rotate: 30deg;
    }
}
@keyframes gedi{
    0%{
        /* height: 0;     */
        opacity: 0;
        margin: 0;
        /* width: 0; */
    }
}
.at{
    width: 18vw;
}
.imaged{
    width: 4vw;
}
.at{
    margin-left: 4vw;
}
.test , .test2 , .test3{
    width: 4vw;
    left: 1%;
    /* height: vh; */
}
.test:hover , .test2:hover , .test3:hover{
    width: 22vw;
}
.randomtext{
    margin-top: 12vh;
}
.boxe1 , .boxe2{
    width: 33%;
}
.boxe3{
    display: block;
    width: 33%;
    height: 100%;
}
.st{
    margin-top: 3vh;
}
.main{
    height: 100vh;
}
.png{
    height: 20vh;
    width: 20vw;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    top: 38%;
    left: 50%;
    animation: dipper 1s cubic-bezier(0.42, 0, 0, 1.18);
    animation-iteration-count: infinite;
}
.pnge{
    height: 20vh;
    width: 20vw;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 26%;
    animation: dipper 1s cubic-bezier(0.42, 0, 0, 1.18);
    animation-iteration-count: infinite;    
}
@keyframes dipper{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.ok{
    height: 10vh;
    width: 50vw;
    position: absolute;
    z-index: 10;
    left: 1%;
    /* overflow: hidden; */
}
.cata{
    position: absolute;
    z-index: 12 ;
    font-size: 70px;
    font-family: "Raleway", sans-serif;
}
.cata a{
    color: black;
}
.footer{
    margin-top: 5vh;
    padding-top: 0;
}
.sections{
    height: 50vh;
}
}